.container-fluid{
    padding:0;
}

body{
    /*background-image: url('../images/back3.jpg'); 
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;*/
    background: url("../images/1 - Copy.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #b9adad;
}
#logo{
    color:red;
    font-family: fantasy, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.cont{
    background-color:rgba(0, 0, 0, 0.6);
    width: 100%;
    color: whitesmoke;
    font-size: 2.8vw;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top:10px;
    padding: 50px;
}

h2{
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}


h6{
    color: rgb(19, 18, 18);
    text-shadow: 2px 2px 4px #504d4d;
    font-weight: 700;
    margin-top: 5px;
}
 h6:hover{
    color: rgb(97, 69, 35);
 }

a:hover{
    
    text-decoration: none;
}

#gal{
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



.down{
    margin-bottom: 20px;
}

.footer{
    background-color: rgb(26, 24, 24);
    color: rgb(100,100,100);
    padding-left: 10px;
}

.footcol{
    font-size: 20px;
    font-weight: 600; 
    color: rgb(133,133,133);
}

.list-unstyled{
    font-size: 14px;
}

.addr{
    font-size: 14px;
}

.lin{
    color: rgb(100,100,100);
}
.lin:hover{
    color: whitesmoke;
}

.footlogo{
    padding: 40px 40px 40px 0px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.testi{
    color: rgb(19, 18, 18);
    text-shadow: 2px 2px 4px #504d4d;
    text-align: center;
    font-family: cursive;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.testi2{
    color: rgb(19, 18, 18);
    text-shadow: 2px 2px 4px #504d4d;
    margin-top:30px;
}

.testi2:hover{
    cursor: pointer;
}

.btn-lg{
    margin: 10px;
}

.togl{
    text-align: center;
    margin:0;
    padding:10px;
    border-radius: 5px;
}

.gal-link{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.gallery{
    margin-bottom:10px;
}

.pre{
    width: 300px;
    height: 300px;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}
.gal{
    display:none;
}

.test{
    display: none;
}

.but{
    margin-top:30px;
    margin-bottom:20px;
}

/* form css */
.form-control {
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e4e5;
}
.form-control:focus {
    border-color: #5fcaba;
}
.form-control, .btn {        
    border-radius: 3px;
}    
.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}	
.signup-form form {
    color: #9ba5a8;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.signup-form hr {
    margin: 0 -30px 20px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #5fcaba;
    border: none;
    min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #3fc0ad;
    outline: none !important;
}
.signup-form a {
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form form a {
    color: #5fcaba;
    text-decoration: none;
}	
.signup-form form a:hover {
    text-decoration: underline;
}

.thanks{
    padding:30px;
}



/* grid gallery css */
.gallery-block.grid-gallery{
    padding-bottom: 60px;
    padding-top: 60px;
  }
  
  .gallery-block.grid-gallery .heading{
      margin-bottom: 50px;
      text-align: center;
  }
  
  .gallery-block.grid-gallery .heading h2{
      font-weight: bold;
      font-size: 1.4rem;
      text-transform: uppercase;
  }
  
  .gallery-block.grid-gallery a:hover{
    opacity: 0.8;
  }
  
  .gallery-block.grid-gallery .item img{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
  }
  
  .gallery-block.grid-gallery .item{
    margin-bottom: 20px;
  }
  
  @media (min-width: 576px) {
  
    .gallery-block.grid-gallery .scale-on-hover:hover{
      transform: scale(1.05);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
  }
.newgal{
    display: none;
}

.bla{
    color: #333;
}

.hide{
    display: none;
}

/* contact form */
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.sub{
    margin-top: 150px;
    margin-bottom: 50px;
}

.cholder{
    margin-top:50px;
    margin-bottom:80px;
}

.sholder{
    margin-top: 50px;
    margin-bottom: 180px;
}

.notifyE{
    color: green;
}

.sub_head{
    margin-top: 50px;
}

p#wel-font{
    font-size: 2.3vw;
    color: rgb(13, 194, 207);
    margin: 0;
}

a.ling{
    color: rgb(13, 194, 207);
}

a.ling:hover{
    color: rgb(11, 105, 112);
}

div.row.profile{
    margin-top: 10px;
    margin-bottom: 300px;
}

div.col-md-8.prof{
    margin-top: 10px;
}

h2.card-title{
    color: black;
}
/* video holdr */
.vid-div{
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.vid-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.vid-hold{
    padding: 2px 16px;
}

div.signup-form{
    margin-bottom: 55px;
}

form#contact{
    margin-bottom: 100px;
}

form#subscribe{
    margin-bottom: 250px;
}

/* stars coding */
div.rating-container{
    height:45px;
}
